.content= question.content
.tags.badges
  each tag in question.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= question.numLikes] likes,
      #[span.number.num-answers= question.numAnswers] review,
      #[span.number.num-views= question.numReads] reads

    a.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`/users/${user._id}?_method=DELETE`)
      | #[i.fa.fa-trash] Delete
  .col-sm
    .author
      | this Event on #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
